# IDE metadata
.idea/

# Node modules and package logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# Environment variables
.env

# Operating system files
.DS_Store

# Source maps and declaration maps
*.map
*.d.ts.map
*.js
